.overall{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background-color: antiquewhite; 
    height: calc(100% - 180px); 
   
    
    .task-list{
        margin-top: 30px;
    }
    .tasks{
        margin-top: 30px;
        
        li{
            list-style: none;
            
        }
    }
}